* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #632024;
    height: 60px;
}

.nav-link {
    text-decoration: none;
    color: #d5b893;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.nav-link:hover {
    background-color: #4b191c;
}

.perfil-icon {
    border-radius: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 100px;
    background-color: #25344f;
}

.home-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner-home-img {
    width: 100%;
}

.home-h2 {
    font-size: 30px;
    color: #d5b893;
}

.search-bar-section {
    background-color: #d5b893;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    width: 70%;
    height: 40px;
}

.search-bar {
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 98%;
}

input::placeholder{
    color: #615443;
}

.basic-home-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    border: 1px solid #6f4d38;
    border-radius: 30px;
    background-color: #632024;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.card-img {
    max-height: 300px;
    width: auto;
    object-fit: contain;
    background-color: #617891;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    border-top: 1px solid gray;
    color: #d5b893;
}

.gender-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid gray;
    background-color: rgb(255, 187, 198);
}

.gender-img {
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #632024;
}


.logout {

    display: inline-block;

}

.logout-button {
    text-decoration: none;
    background-color: #632024;
    color: #d5b893;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease;
}

.logout-button:hover {
    background-color: #46171a;
    cursor: pointer;
}


.logout-button:hover{
    opacity: .85;
}