@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #83072b;
    height: 60px;
}

.nav-link {
    text-decoration: none;
    color: #F2F2F2;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.nav-link:hover {
    background-color: #670621;
}

.perfil-icon {
    border-radius: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 100px;
    background-color: #F2F2F2;
}

.banner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.home-divs-red {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #83072b;
}

.banner-home-img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.home-h2 {
    font-size: 30px;
    color: #202020;
}

.home-h2-red {
    font-size: 30px;
    color: #f2f2f2;
}

.search-bar-section {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    width: 70%;
    height: 50px;
}

.search-bar {
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 98%;
    height: 30px;
    font-size: 15px;
}

input {
    color: #202020;
}

input::placeholder{
    color: #8f8f8f;
}

.basic-home-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    background-color: #83072b;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.card-img {
    max-height: 300px;
    width: auto;
    object-fit: contain;
    background-color: #f2f2f2;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    border-top: 1px solid #d6d6d6;
    color: #f2f2f2;
}

.gender-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    transition: all 0.3s ease;
}

.gender-section:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.gender-img {
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #83072b;
}


.logout {

    display: inline-block;

}

.logout-button {
    text-decoration: none;
    background-color: #83072b;
    color: #f2f2f2;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease;
}

.logout-button:hover {
    background-color: #610728;
    cursor: pointer;
}


.logout-button:hover{
    opacity: .85;
}