{% extends 'layout.html' %}

{% block title %}
    Entrar
{% endblock %}

{% block content %}
    <div class="login-background">
        <div class="login-card">
            <section class="login-h2">
                <h2>Entrar</h1>
            </section>
            <form class="form-with-validation login-form" action="/users/login/" method="post">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hiden" name="next" value="{{ request.GET.next }}"/>
                {% endif %}
                <button class="form-submit login-button">Entrar</button>
            </form>
        </div>
    </div>
    
{% endblock %}