{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="home-divs">
        <img src="/media/banner-vivarte.png" alt="banner-img" class="banner-home-img">
    </div>
    <div class="home-divs">
        <h2 class="home-h2">Pesquisa</h2>
        <section class="search-bar-section">
            <input type="text" placeholder="Pesquisar" class="search-bar">
        </section>
    </div>
    <div class="home-divs">
        <h2 class="home-h2">Livros mais vendidos</h2>
        <section class="basic-home-section">
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">R$00,00</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">R$00,00</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">R$00,00</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">R$00,00</p>
                </section>
            </section>
        </section>
    </div>
    <div class="home-divs">
        <h2 class="home-h2">Gênero</h2>
        <section class="basic-home-section">
            <section class="gender-section">
                <a href=""><i><img src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png" alt="gender-icon" class="gender-img"></i></a>
            </section>
            <section class="gender-section">
                <a href=""><i><img src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png" alt="gender-icon" class="gender-img"></i></a>
            </section>
            <section class="gender-section">
                <a href=""><i><img src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png" alt="gender-icon" class="gender-img"></i></a>
            </section>
            <section class="gender-section">
                <a href=""><i><img src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png" alt="gender-icon" class="gender-img"></i></a>
            </section>
        </section>
    </div>
    <div class="home-divs">
        <h2 class="home-h2">Livros mais vendidos</h2>
        <section class="basic-home-section">
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">preço</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">preço</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">preço</p>
                </section>
            </section>
            <section class="card">
                <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._UF1000,1000_QL80_.jpg" alt="card-img" class="card-img">
                <section class="card-description">
                    <h3>nome do livro</h3>
                    <p class="card-price">preço</p>
                </section>
            </section>
        </section>
    </div>
{% endblock %}