<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django app
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/" class="nav-link">Inicio</a></li>
                <li><a href="{% url 'library:list' %}" class="nav-link">Biblioteca</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'library:wishlist' %}" class="nav-link">Lista de desejos</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}" class="nav-link">Lista de desejos</a></li>
                {% endif %}
            </ul>
            <div>
                <a href="/"><img src="/media/logo-vivarte.png" alt="" class="nav-logo"></a>
            </div>
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li><a href="" class="nav-link">Vender</a></li>
                    <li><form action="{% url 'users:logout' %}" method="post" class="nav-form"> {% csrf_token %} <button class="nav-button" >Sair</button></form></li>
                    <li><a href="{% url 'users:account' %}" class="nav-link"><i>icone</i></a></li>
                {% else %}
                    <li><a href="{% url 'users:register' %}" class="nav-link">Registrar</a></li>
                    <li><a href="{% url 'users:login' %}" class="nav-link">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <a href="" class="nav-link"> dps a gente ve o que coloca aq</a>
    </footer>
</body>
</html>
