<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django app
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-link">Inicio</a>
            <a href="{% url 'library:list' %}" class="nav-link">Biblioteca</a>
            <a href="{% url 'library:wishlist' %}" class="nav-link">Lista de desejos</a>
            <!--# colocar um if para que va para outra aba caso o usuario esteja logado-->
            <!-- % if user.is_authenticated % ,entre chaves, isso eh pra verificar se ta logado-->

            {% if user.is_authenticated %}
                <a href="{% url 'library:add' %}" class="nav-link">vender livro</a>
                <form class="logout" action="{% url 'users:logout' %}" method="post"> {% csrf_token %} <a href="" class="nav-link"> Sair</a> </form>
                <a href="" class="perfil-icon nav-link"><i><img src="" alt=""></i>icone</a>
            {% else %}
                <a href="{% url 'users:register' %}" class="nav-link">Registrar</a>
                <a href="{% url 'users:login' %}" class="nav-link">Entrar</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <a href="" class="nav-link"> dps a gente ve o que coloca aq</a>
    </footer>
</body>
</html>
